# Ignore Visual Studio temporary files
.vs/
bin/
obj/
*.user
*.suo

# Ignore Visual Studio Code settings (optional)
.vscode/
API/.vs/API/v17/.suo
*.db
API/.vs/API/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
API/.vs/API/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
API/.vs/API/CopilotIndices/17.12.53.23981/CodeChunks.db-wal
API/.vs/API/CopilotIndices/17.12.53.23981/CodeChunks.db-shm
API/.vs/API/CopilotIndices/17.12.53.23981/CodeChunks.db
API/.vs/API/v17/.suo
